<h1>Messages</h1>

<%= link_to "New Message", new_message_path, class: "btn btn-primary mb-3" %>

<table class="table">
  <thead>
    <tr>
      <th>ID</th>
      <th>User ID</th>
      <th>Chat ID</th>
      <th>Body</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    <% @messages.each do |message| %>
      <tr>
        <td><%= message.id %></td>
        <td><%= message.user_id %></td>
        <td><%= message.chat_id %></td>
        <td><%= message.body %></td>
        <td><%= link_to 'Show', message_path(message) %></td>
      </tr>
    <% end %>
  </tbody>
</table>
