<div class="container mt-4">
  <div class="d-flex justify-content-between align-items-center mb-3 px-3">
    <h1 class="text-info m-0">Chats Involving You</h1>
    <%= link_to "New Chat", new_chat_path, class: "btn btn-primary" %>
  </div>

  <div class="table-responsive px-3 mb-5">
    <table class="table table-dark table-bordered table-striped rounded shadow-sm overflow-hidden">
      <thead class="table-light text-center">
        <tr>
          <th>ID</th>
          <th>Sender</th>
          <th>Receiver</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody>
        <% @chats.each do |chat| %>
          <tr>
            <td><%= chat.id %></td>
            <td><%= chat.sender&.first_name %></td>
            <td><%= chat.receiver&.first_name %></td>
            <td>
              <% if chat.sender == current_user || chat.receiver == current_user %>
                <%= link_to 'Show', chat_path(chat), class: "btn btn-outline-info btn-sm" %>
              <% end %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>
