<h1 class="text-info mb-4 border-bottom pb-2">Chats</h1>

<%= link_to "New Chat", new_chat_path, class: "btn btn-primary mb-4" %>

<table class="table table-dark table-striped table-hover align-middle">
  <thead>
    <tr>
      <th>ID</th>
      <th>Sender</th>
      <th>Receiver</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    <% @chats.each do |chat| %>
      <tr>
        <td><%= chat.id %></td>
        <td><%= chat.sender.first_name %> <%= chat.sender.last_name %></td>
        <td><%= chat.receiver.first_name %> <%= chat.receiver.last_name %></td>
        <td>
          <%= link_to "Show", chat_path(chat), class: "btn btn-outline-info btn-sm me-1" %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
