<h1>New Chat</h1>

<%= form_with model: @chat, local: true do |form| %>
  <div class="mb-3">
    <%= form.label :sender_id, "Sender" %>
    <%= form.collection_select :sender_id, User.all, :id, :full_name, { prompt: "Select sender" }, class: "form-select" %>
  </div>

  <div class="mb-3">
    <%= form.label :receiver_id, "Receiver" %>
    <%= form.collection_select :receiver_id, User.all, :id, :full_name, { prompt: "Select receiver" }, class: "form-select" %>

    </div>

  <%= form.submit "Create Chat", class: "btn btn-primary" %>
<% end %>

<%= link_to "Back to Chats", chats_path, class: "btn btn-secondary mt-3" %>
